
body {
}   

   
@media (max-width: 575.98px) {
    .box-form .left {
        color: #FFFFFF;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1904E5;
        overflow: hidden;
    }

        .box-form .left .overlay {
            padding: 30px;
            width: 100%;
            height: 100%;
            background: #5961f9ad;
            overflow: hidden;
            box-sizing: border-box;
        }

            .box-form .left .overlay h1 {
                font-size: 35px;
                line-height: 1;
                font-weight: 900;
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .box-form .left .overlay span p {
                margin-top: 30px;
                font-weight: 900;
            }

            .box-form .left .overlay span a {
                background: #3b5998;
                color: #FFFFFF;
                margin-top: 10px;
                padding: 14px 50px;
                border-radius: 100px;
                display: inline-block;
                box-shadow: 0 3px 6px 1px #042d4657;
            }

                .box-form .left .overlay span a:last-child {
                    background: #1dcaff;
                    margin-left: 30px;
                }

    .box-form .right {
        padding: 40px;
        overflow: hidden;
    }
    .light-right-nav {
        display : none !important;
    }
    .home-grid-card {
        border: 2px #75caeb solid;
        border-radius: 3%;
        margin: 2%;
        height: 400px
    }
    .img-logo {
        width: 50px !important;
        height: auto;
        margin: 5%;
    }
    .body-main {
        padding-top: 100px !important;
    }
    .navbar-toggle {
        height: 36px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .home-grid-img {
        height: 180px;
        width: 92%;
        margin: 4%;
    }

    .home-grid-card-body {
        margin: 4%;
    }

    .home-grid-col {
        width: 100%
    }

    .text-section {
        max-width: 90%;
        margin-left: 10% !important;
    }

    .equip-row {
        margin-bottom: 0% !important;
    }
    .equip-col {
        margin-bottom: 2%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .box-form .left {
        color: #FFFFFF;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1904E5;
        overflow: hidden;
    }

        .box-form .left .overlay {
            padding: 30px;
            width: 100%;
            height: 100%;
            background: #5961f9ad;
            overflow: hidden;
            box-sizing: border-box;
        }

            .box-form .left .overlay h1 {
                font-size: 35px;
                line-height: 1;
                font-weight: 900;
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .box-form .left .overlay span p {
                margin-top: 30px;
                font-weight: 900;
            }

            .box-form .left .overlay span a {
                background: #3b5998;
                color: #FFFFFF;
                margin-top: 10px;
                padding: 14px 50px;
                border-radius: 100px;
                display: inline-block;
                box-shadow: 0 3px 6px 1px #042d4657;
            }

                .box-form .left .overlay span a:last-child {
                    background: #1dcaff;
                    margin-left: 30px;
                }

    .box-form .right {
        padding: 40px;
        overflow: hidden;
    }
    .light-right-nav {
        display: none !important;
    }
    .equip-row {
        margin-bottom: 0% !important;
    }

    .equip-col {
        margin-bottom: 2%;
    }
    .home-grid-card {
        border: 2px #75caeb solid;
        border-radius: 3%;
        margin: 2%;
        height: 400px
    }
    .img-logo {
        width: 50px !important;
        height: auto;
        margin: 5%;
    }
    .body-main {
        padding-top: 10px !important;
    }
    .navbar-toggle {
        height: 36px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .home-grid-img {
        height: 180px;
        width: 92%;
        margin: 4%;
    }

    .home-grid-card-body {
        margin: 4%;
    }

    .home-grid-col {
        width: 100%
    }

    .text-section {
        max-width: 90%;
        margin-left: 10% !important;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .box-form .left {
        color: #FFFFFF;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1904E5;
        overflow: hidden;
    }

        .box-form .left .overlay {
            padding: 30px;
            width: 100%;
            height: 100%;
            background: #5961f9ad;
            overflow: hidden;
            box-sizing: border-box;
        }

            .box-form .left .overlay h1 {
                font-size: 35px;
                line-height: 1;
                font-weight: 900;
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .box-form .left .overlay span p {
                margin-top: 30px;
                font-weight: 900;
            }

            .box-form .left .overlay span a {
                background: #3b5998;
                color: #FFFFFF;
                margin-top: 10px;
                padding: 14px 50px;
                border-radius: 100px;
                display: inline-block;
                box-shadow: 0 3px 6px 1px #042d4657;
            }

                .box-form .left .overlay span a:last-child {
                    background: #1dcaff;
                    margin-left: 30px;
                }

    .box-form .right {
        padding: 40px;
        overflow: hidden;
    }
    .col-md-4 {
        width: 33.33333333%;
    }

    .home-grid-card {
        border: 2px #75caeb solid;
        border-radius: 3%;
        margin: 2%;
        height: 340px
    }
    .head-ul {
        width:60%;
    }
    .container-home {
        width : 95%;
    }
    .home-row {
        display:flex;
    }

    .home-grid-img {
        height: 130px;
        width: 92%;
        margin: 4%;
    }
    .home-grid-card-body {
        margin: 4%;
    }
    .home-grid-col {
        width: 33.33%
    }
    .text-section {
        max-width: 90%;
        margin-left: 10% !important;
    }

    .body-main {
        padding-top: 115px !important;
    }

    .img-logo {
        width: 80px !important;
        height: auto;
        margin: 15% 0;
    }

    .logo-section {
        max-width: 10%;
        margin-left: 0;
    }

    .text-section {
        max-width: 90%;
        margin-left: 10% !important;
    }

    .head-ul {
        height:100px;
    }

    .head-li {
        height: 100px;
    }
    .head-account-ul {
        height: 100px;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .head-account-li {
        height: 100px;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .head-title {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .box-form .left {
        width: 60%;
        color: #FFFFFF;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1904E5;
        overflow: hidden;
    }

        .box-form .left .overlay {
            padding: 30px;
            width: 100%;
            height: 100%;
            background: #5961f9ad;
            overflow: hidden;
            box-sizing: border-box;
        }

            .box-form .left .overlay h1 {
                font-size: 35px;
                line-height: 1;
                font-weight: 900;
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .box-form .left .overlay span p {
                margin-top: 30px;
                font-weight: 900;
            }

            .box-form .left .overlay span a {
                background: #3b5998;
                color: #FFFFFF;
                margin-top: 10px;
                padding: 14px 50px;
                border-radius: 100px;
                display: inline-block;
                box-shadow: 0 3px 6px 1px #042d4657;
            }

                .box-form .left .overlay span a:last-child {
                    background: #1dcaff;
                    margin-left: 30px;
                }

    .box-form .right {
        width: 40%;
        padding: 40px;
        overflow: hidden;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .home-grid-img {
        height: 180px;
        width: 92%;
        margin: 4%;
    }
    .home-grid-card-body {
        margin: 4%;
    }
    .home-grid-col {
        width: 33.33%
    }

    .text-section {
        max-width: 90%;
        margin-left: 10% !important;
    }

    .body-main {
        padding-top: 160px !important;
    }
    .head-ul {
        height: 160px;
        width: 85%;
    }

    .head-li {
        height: 160px;
        width: 100%;
    }

    .head-account-ul {
        height: 160px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 15%;
        display: flex;
    }

    .head-account-li {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .head-title {
        font-size: 30px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .img-logo {
        width: 100px !important;
        height: auto;
        margin: 15% 0;
    }

    .logo-section {
        max-width: 10%;
        margin-left: 0;
    }

    .text-section {
        max-width: 90%;
        margin-left: 10% !important;
    }
    .head-ul {
        height: 160px;
    }

    .head-li {
        height: 160px;
    }
}

@media (min-width: 1200px) {
    .box-form .left {
        width: 60%;
        color: #FFFFFF;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1904E5;
        overflow: hidden;
    }

        .box-form .left .overlay {
            padding: 30px;
            width: 100%;
            height: 100%;
            background: #5961f9ad;
            overflow: hidden;
            box-sizing: border-box;
        }

            .box-form .left .overlay h1 {
                font-size: 35px;
                line-height: 1;
                font-weight: 900;
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .box-form .left .overlay span p {
                margin-top: 30px;
                font-weight: 900;
            }

            .box-form .left .overlay span a {
                background: #3b5998;
                color: #FFFFFF;
                margin-top: 10px;
                padding: 14px 50px;
                border-radius: 100px;
                display: inline-block;
                box-shadow: 0 3px 6px 1px #042d4657;
            }

                .box-form .left .overlay span a:last-child {
                    background: #1dcaff;
                    margin-left: 30px;
                }

    .box-form .right {
        width: 40%;
        padding: 40px;
        overflow: hidden;
    }
    .text-section {
        max-width: 90%;
        margin-left: 10% !important;
    }

    .body-main {
        padding-top: 160px !important;
        
    }
    .head-ul {
        height: 160px;
        width:85%;
    }

    .head-li {
        height: 160px;
        width: 100%;
    }

    .head-account-ul {
        height: 160px;
        padding-top: 30px;
        padding-bottom: 30px;
        width:15%;
        display:flex;
    }

    .head-account-li {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .head-title {
        font-size: 30px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .img-logo {
        width: 100px !important;
        height: auto;
        margin: 15% 0;
    }

    .logo-section {
        max-width: 10%;
        margin-left: 0;
    }

    .text-section {
        max-width: 90%;
        margin-left: 10% !important;
    }

    .body-center {
        background-image: url('walpaper3.jpg');
        background-repeat: no-repeat;
    }

    .home-grid-img {
        height:180px;
        width:92%;
        margin:4%;
    }

    .home-grid-col {
        width:33.33%
    }

    .home-grid-card {
        border: 2px #75caeb solid;
        border-radius: 3%;
        margin: 2%;
        height: 400px
    }
    .home-grid-card-body {
        margin: 4%;
    }
    .home-grid-title {
        text-align: center;
        font-family: ui-sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    .home-grid-text {
        font-family: ui-sans-serif;
        font-size: 16px;
    }
    .home-grid-btn {
        background-color: #75caeb;
        border-color: #5fc1e8;
    }
}

.head-title {
    text-align: center;
    color: black !important;
    font-family: ui-sans-serif;
    vertical-align: middle;
}
.title-navbar {
    height: 65px !important;
}
.title-navbar-item {
    font-size: 24px;
    margin: 10px 0px;
}
.home-title {
    padding: 8.5px;
}
.nav-pills {
    display: block !important;
    line-height: 1em !important;
    height: 1em !important;
}


button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

    button:focus,
    input:focus {
        outline: 0;
    }

body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

section {
    height: 100vh;
}

#home {
    background-color: #ddd;
}

#about {
    background-color: #aaa;
}

#work {
    background-color: #888;
}

#contact {
    background-color: #666;
}


#nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
}

.nav-link,
.logo {
    padding: 0 1em;
}


h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
}


.nav-link {
    text-transform: uppercase;
    text-align: center;
}


a:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn-nav {
    padding-left: 2em;
    padding-right: 2em;
}

@media (min-width: 800px) {
    #nav-wrapper {
        overflow: hidden;
    }

    #nav {
        overflow: hidden;
        flex-direction: row;
    }

    .nav-link {
        border-top: none;
    }

    .right {
        overflow: hidden;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        height: auto;
    }

    .btn-nav {
        display: none;
    }






    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "Open Sans", sans-serif;
        color: #333333;
    }

    .form_login {
        width: 100% !important;
    }

    .box-form {
        margin: 0 auto;
        width: 100%;
        background: #FFFFFF;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex: 1 1 100%;
        align-items: stretch;
        box-shadow: 0 0 20px 6px #090b6f85;
    }

    @media (max-width: 980px) {
        .box-form {
            flex-flow: wrap;
            text-align: center;
            align-content: center;
            align-items: center;
        }
    }

    .box-form div {
        height: auto;
    }

    .login-title {
        color: #ffffff;
    }
    .img-logo-login {
        width: 20%;
        margin: 5% 40% 10%;
    }

    section {
        height: 60vh !important;
    }

    

    @media (max-width: 980px) {
        .box-form .right {
            width: 100%;
        }
    }

    .box-form .right h5 {
        font-size: 6vmax;
        line-height: 0;
    }

    .box-form .right p {
        font-size: 14px;
        color: #B0B3B9;
    }

    .box-form .right .inputs {
        overflow: hidden;
    }

    .box-form .right input {
        width: 100%;
        padding: 10px;
        margin-top: 25px;
        font-size: 16px;
        outline: none;
        border: 1px solid #B0B3B9;
    }

    .box-form .right .remember-me--forget-password {
        display: flex;
        align-items: center;
    }

        .box-form .right .remember-me--forget-password input {
            margin: 0;
            margin-right: 7px;
            width: auto;
        }

    .box-form .right button {
        float: right;
        color: #fff;
        font-size: 16px;
        border-radius: 50px;
        display: inline-block;
        border: 0;
        outline: 0;
        box-shadow: 0px 4px 20px 0px #49c628a6;
        background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    }

    .radio label, .checkbox label {
        padding-left: 0px;
    }
    .checkbox-input {
        margin-top: 5px !important;
    }
    .form_register {
        width: 100% !important;
    }

    label {
        display: block;
        position: relative;
        margin-left: 0px;
    }

        label span.text-checkbox {
            display: inline-block;
            height: auto;
            position: relative;
            cursor: pointer;
            transition: all 0.2s linear;
        }

       
