@model IdentityExtension.Models.Equipment

@{
    ViewData["Title"] = "Update";
    ViewData["Nav"] = "nav";
}

<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="card col-md-2 equip-col"></div>
            <div class="card col-md-8 equip-col"><h2 class="head_title">Update Status - Mini Sat</h2></div>
            <div class="card col-md-2 equip-col back-btn">
                <a asp-controller="EquipmentManagement" asp-action="Index">
                    <img src="~/images/back2.png" alt="..." class="img-thumbnail equip-back">
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row form-background">
    <div class="col-md-12 form-body">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="srNo" />
            <input type="hidden" asp-for="eqBase" />
            <input type="hidden" asp-for="eqTId" />
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <select asp-for="state" class="form-control" asp-items="ViewBag.equipStatus"></select>
            </div>
            <div class="form-group">
                <label asp-for="remarks" class="control-label"></label>
                <input asp-for="remarks" class="form-control" />
                <span asp-validation-for="remarks" class="text-danger"></span>
            </div>
            <div class="form-group submit-group">
                <input type="submit" value="Save" class="btn-form" />
            </div>
        </form>
    </div>
</div>


