@model IdentityExtension.Models.MakeModel

@{
    ViewData["Title"] = "Edit";
    ViewData["Nav"] = "nav";
}

<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="card col-md-2 equip-col"></div>
            <div class="card col-md-8 equip-col"><h2 class="head_title">Update Master Data</h2></div>
            <div class="card col-md-2 equip-col back-btn">
                <a asp-controller="MakeModel" asp-action="Index">
                    <img src="~/images/back2.png" alt="..." class="img-thumbnail equip-back">
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row form-background">
    <div class="col-md-12 form-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
                </div>*@
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Make.description" class="control-label"></label>
                <input asp-for="Make.description" class="form-control" />
                <span asp-validation-for="Make.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.description" class="control-label"></label>
                <input asp-for="Model.description" class="form-control" />
                <span asp-validation-for="Model.description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="makeId" />
            <input type="hidden" asp-for="modelId" />
            @{ if (Model.EquipmentTable.varName.Equals("weapon"))
                {
                    <div class="form-group">
                        <label asp-for="system" class="control-label"></label>
                        <input asp-for="system" class="form-control" />
                        <span asp-validation-for="system" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group">
                <label asp-for="eqTId" class="control-label"></label>
                <select asp-for="eqTId" class="form-control" asp-items="ViewBag.eqTId"></select>
                <span asp-validation-for="eqTId" class="text-danger"></span>
            </div>
            <div class="form-group submit-group">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

