@model IdentityExtension.Models.EquipmentTable

@{
    ViewData["Title"] = "Edit";
    ViewData["Nav"] = "nav";
}

<h2>Edit</h2>

<h4>Equipment_Table</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="equipmentCode" class="control-label"></label>
                <input asp-for="equipmentCode" class="form-control" />
                <span asp-validation-for="equipmentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment" class="control-label"></label>
                <input asp-for="equipment" class="form-control" />
                <span asp-validation-for="equipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipmentSellCode" class="control-label"></label>
                <input asp-for="equipmentSellCode" class="form-control" />
                <span asp-validation-for="equipmentSellCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageUrl" class="control-label"></label>
                <input asp-for="imageUrl" class="form-control" />
                <span asp-validation-for="imageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipmentGeneralInq" class="control-label"></label>
                <input asp-for="equipmentGeneralInq" class="form-control" />
                <span asp-validation-for="equipmentGeneralInq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
