@model IdentityExtension.Models.Base

@{
    ViewData["Title"] = "GetShip";
    ViewData["Nav"] = "nav";
}

<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="card col-md-2 equip-col"></div>
            <div class="card col-md-8 equip-col"><h2 class="head_title">Select Your Ship</h2></div>
            <div class="card col-md-2 equip-col back-btn">
                <a asp-controller="EquipmentViewManagement" asp-action="Index">
                    <img src="~/images/back2.png" alt="..." class="img-thumbnail equip-back">
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row form-background">
    <div class="col-md-12 form-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ShipEquipments">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="id" />
                    <input type="hidden" asp-for="areaId" />
                    <input type="hidden" asp-for="baseType" />
                    <input type="hidden" asp-for="shipTypeId" />
                    @Html.Hidden("shipType", (object)ViewBag.shipType)
                    <div class="form-group">
                        <label class="control-label">Ship Type :- </label>
                        <label class="control-label">@ViewBag.shipType</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="description" class="control-label"></label>
                        <select asp-for="description" class="form-control" asp-items="ViewBag.ships"></select>
                    </div>
                    <div class="form-group submit-group">
                        <input type="submit" value="Save" class="btn-form" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


