@model IdentityExtension.Models.EODs

@{
    ViewData["Title"] = "Create";
    ViewData["Nav"] = "nav";
}

<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="card col-md-2 equip-col"></div>
            <div class="card col-md-8 equip-col"><h2 class="head_title">Create EODs</h2></div>
            <div class="card col-md-2 equip-col back-btn">
                <a asp-controller="EquipmentTable" asp-action="Index">
                    <img src="~/images/back2.png" alt="..." class="img-thumbnail equip-back">
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row form-background">
    <div class="col-md-12 form-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Equipment.srNo" class="control-label"></label>
                <input asp-for="Equipment.srNo" class="form-control" />
                <span asp-validation-for="Equipment.srNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.make" class="control-label"></label>
                <select asp-for="Equipment.make" class="form-control" asp-items="ViewBag.make"></select>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.model" class="control-label"></label>
                <select asp-for="Equipment.model" class="form-control" asp-items="ViewBag.model"></select>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.state" class="control-label"></label>
                <select asp-for="Equipment.state" class="form-control" asp-items="ViewBag.equipStatus"></select>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.eqBase" class="control-label"></label>
                <select asp-for="Equipment.eqBase" class="form-control" asp-items="ViewBag.eqBase"></select>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.remarks" class="control-label"></label>
                <input asp-for="Equipment.remarks" class="form-control" />
                <span asp-validation-for="Equipment.remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.cDate" class="control-label"></label>
                <input asp-for="Equipment.cDate" class="form-control" />
                <span asp-validation-for="Equipment.cDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.action" class="control-label"></label>
                <input asp-for="Equipment.action" class="form-control" />
                <span asp-validation-for="Equipment.action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.g47Remarks" class="control-label"></label>
                <input asp-for="Equipment.g47Remarks" class="form-control" />
                <span asp-validation-for="Equipment.g47Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.g47Date" class="control-label"></label>
                <input asp-for="Equipment.g47Date" class="form-control" />
                <span asp-validation-for="Equipment.g47Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.del" class="control-label"></label>
                <input asp-for="Equipment.del" class="form-control" />
                <span asp-validation-for="Equipment.del" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.delDate" class="control-label"></label>
                <input asp-for="Equipment.delDate" class="form-control" />
                <span asp-validation-for="Equipment.delDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.eqTId" class="control-label"></label>
                <select asp-for="Equipment.eqTId" class="form-control" asp-items="ViewBag.eqTId"></select>
            </div>
            <div class="form-group">
                <label asp-for="country" class="control-label"></label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateInstalled" class="control-label"></label>
                <input asp-for="dateInstalled" class="form-control" />
                <span asp-validation-for="dateInstalled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateModified" class="control-label"></label>
                <input asp-for="dateModified" class="form-control" />
                <span asp-validation-for="dateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pfileNum" class="control-label"></label>
                <input asp-for="pfileNum" class="form-control" />
                <span asp-validation-for="pfileNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pfileDate" class="control-label"></label>
                <input asp-for="pfileDate" class="form-control" />
                <span asp-validation-for="pfileDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pulseCount" class="control-label"></label>
                <input asp-for="pulseCount" class="form-control" />
                <span asp-validation-for="pulseCount" class="text-danger"></span>
            </div>
            <div class="form-group submit-group">
                <input type="submit" value="Create" class="btn-form" />
            </div>
        </form>
    </div>
</div>


