@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@if ((ViewData["Footer"] != null) && (ViewData["Footer"].ToString() == "foot")) { 
    <footer>
        <p>&copy; 2019 - Identity Extension Project by Kyi Phyo Cho@Albert Cho</p>
    </footer>
}
