@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@*@if ((SignInManager.IsSignedIn(User)) || (ViewData["Nav"].ToString() == "yes"))*@
@if ((ViewData["Nav"] != null) && (ViewData["Nav"].ToString() == "nav"))
{
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header logo-section">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/navy_logo.png" alt="ASP.NET" class="img-responsive img-logo" />
            </div>
            <div class="navbar-collapse collapse text-section">
                <ul class="nav navbar-nav head-ul">
                    <li class="head-li"><a asp-area="" class="head-title" asp-controller="Home" asp-action="Index">ELECTRICAL AND ELECTRONIC MAINTENANCE SYSTEM   </a></li>
                    @*<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-light bg-light">
        <div class="container" style="display: flex">
            <div class="nav left">
                <a style="display:flex" class="title-navbar navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/home-logo.jpg" alt=""> 
                    <span class="nav-link-span home-title"><span class="u-nav">Home</span></span>
                </a>
                <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
            </div>
            <div class="nav right light-right-nav">
                <a asp-area="" asp-controller="EquipmentManagement" asp-action="Index" class="nav-link"><span class="nav-link-span"><span class="u-nav">Equipment</span></span></a>
                <a asp-area="" asp-controller="ProcurementManagement" asp-action="Index" class="nav-link"><span class="nav-link-span"><span class="u-nav">Procurement</span></span></a>
                <a asp-area="" asp-controller="BillManagement" asp-action="Index" class="nav-link"><span class="nav-link-span"><span class="u-nav">Bill</span></span></a>
                <a asp-area="" asp-controller="BaseManagement" asp-action="Index" class="nav-link"><span class="nav-link-span"><span class="u-nav">Base</span></span></a>
            </div>
        </div>
    </nav>
}